.bVideo {
  padding: 10px;
}

@media (min-width: 768px) {
  .bVideo {
    width: 50%
  }
}

@media (min-width: 992px) {
  .bVideo {
    width: 33%
  }
}
@media (min-width: 1024px) {
  .bVideo {
    width: 25%
  }
}